/* -------------------------------------------------------------------------- */
/*                              CUSTOM PROPERTIES                             */
/* -------------------------------------------------------------------------- */
:root {

    /* Colors */
    --primary-color: 208 90% 8%;
    --primary-color-shade: 208 89% 7%;
    --primary-color-tint: 208 39% 17%;
    --secondary-color: 171 74% 60%;
    --text-color: 0 0% 100%;

    /* Font Familiy */
    --primary-font: 'Hind', sans-serif;
    --secondary-font: 'Rozha One', serif;

    /* Font Weights */
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 400;

    /* Border */
    --br: 1.25rem;

}

/* -------------------------------------------------------------------------- */
/*                                   GLOBAL                                   */
/* -------------------------------------------------------------------------- */

body.viajeschile {
    background-color: hsl(var(--primary-color));
    color: hsl(var(--text-color));
    font-family: var(--primary-font);
    font-weight: var(--fw-light);
    scroll-behavior: smooth; 
}

h1,
h2,
h3,
h4 {
    font-family: var(--secondary-font);
}

img,
picture {
    max-width: 100%;
    display: block;
}

main,
section {
    position: relative;
}

section {
    overflow: hidden;
    padding-block: 6.25rem;
}

/* Header */
.header {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

/* Navbar Toggler */
.viajeschile-navbar .viajes-navbar-toggler {
    padding: 0;
    position: relative;
    transition: all .3s ease-in-out;
}

.viajeschile-navbar .viajes-navbar-toggler:focus {
    box-shadow: none;
}

.viajeschile-navbar .viajes-navbar-toggler .navbar-toggler-icon {
    background-color: transparent;
}

.viajeschile-navbar .viajes-navbar-toggler.collapsed .navbar-toggler-icon {
    background-color: hsl(var(--secondary-color));
}

.viajeschile-navbar .viajes-navbar-toggler.collapsed .navbar-toggler-icon::before {
    transform: translateY(0) translateX(0) rotate(0);
}

.viajeschile-navbar .viajes-navbar-toggler.collapsed .navbar-toggler-icon::after {
    transform: rotate(0);
}

.viajeschile-navbar .navbar-toggler-icon {
    background-color: hsl(var(--secondary-color));
    border-radius: 30px;
    display: block;
    height: .25rem;
    width: 2.5rem;
    position: relative;
}

.viajeschile-navbar .navbar-toggler-icon::before,
.viajeschile-navbar .navbar-toggler-icon::after {
    content: '';
    border-radius: inherit;
    height: inherit;
    width: inherit;
    position: absolute;
    left: 0;
    background-color: hsl(var(--secondary-color));
    transition: 0.3s ease-in;
    transform-origin: top left;
}

.viajeschile-navbar .navbar-toggler-icon::before {
    top: -10px;
    transform: translateY(-4px) translateX(7px) rotate(45deg);
}

.viajeschile-navbar .navbar-toggler-icon::after {
    top: 10px;
    transform: translateY(4px) translateX(4px) rotate(-45deg);
}

/* Mobile Menu */
@media ( max-width: 991px ) {
    .viajeschile-navbar .navbar-nav {
        background-color: hsl(var(--primary-color) / 0.8);
        border-radius: var(--br);
        padding: 3rem;
        backdrop-filter: blur(7px);
    }
}

/* Inner Section */
.inner-section {
    padding-block-start: 4.375rem;
}

/* Footer */
.footer {
    background-color: hsl(var(--primary-color-shade));
}

.footer-wrapper {
    border-top: 1px solid hsl(var(--primary-color-tint));
    padding-block: 3.125rem;
}

.footer__copyright span {
    color: hsl(var(--secondary-color));
}

.footer__social {
    gap: 1.25rem;
}

.footer__social a {
    color: hsl(var(--secondary-color));
    font-size: 1.25rem;
}

.footer__social a:hover i {
    transition: all .3s ease-in-out;
}

.footer__social a:hover i,
.footer__social a:focus i {
    color: hsl(var(--secondary-color));
    filter: drop-shadow(0 0 5px hsl(var(--secondary-color) / .4));
}


/* -------------------------------------------------------------------------- */
/*                                 COMPONENTS                                 */
/* -------------------------------------------------------------------------- */

/* NAVBAR */
@media (min-width: 768px) {
    .header .viajeschile-navbar {
        padding-block: 1.875rem;
    }
}

.header .navbar-brand {
    gap: .625rem;
}

.header .navbar-nav {
    gap: 1.25rem;
}

.header .navbar-nav a {
    color: hsl(var(--text-color));
    transition: all .3s ease-in-out;
}

.header .navbar-nav a:hover,
.header .navbar-nav a:focus {
    color: hsl(var(--secondary-color))
}

/* HERO */
.hero-section {
    position: relative;
}

.hero-section::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(to top, hsl(var(--primary-color)) 10%, hsl(var(--primary-color) / .9) 40%, transparent);
    z-index: 2;
}

.hero-carousel {
    height: 80vh;
}

@media (min-width: 992px) {
    .hero-carousel {
        height: 100vh;
    }
}

.hero-carousel .carousel-inner,
.hero-carousel .carousel-item {
    height: 100%;
}

.hero-carousel .carousel-item {
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

.hero-carousel .carousel-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: hsl(var(--primary-color-shade) / .3);
}

.carousel-content-wrapper {
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
}

.carousel-content {
    max-width: 62ch;
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-in-out;
    transform: translateY(100px);
}

.hero-carousel .carousel-item.active .carousel-content {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.carousel-content .carousel-content__title {
    font-size: clamp(2.5rem, 10vw, 4.625rem);
}

.carousel-content .carousel-content__subtitle {
    font-size: 1.3rem;
    font-weight: 500;
}

.carousel-content .carousel-content__text {
    margin-top: 2.5rem;
}

/* SECTION TITLE */
.title__heading {
    display: grid;
    grid-template-rows: repeat(2, auto);
    row-gap: 1.25rem;
    font-size: 3.125rem;
    margin: 0;
    padding: 0;
    position: relative;
}

.title__heading--column {
    place-items: center;
}

@media (min-width: 768px) {
    .title__heading:not(.title__heading--column) {
        gap: 0 1.25rem;
        grid-template-columns: repeat(2, auto);
        place-items: center;
    }
}

.title__heading::after {
    content: '';
    background-color: hsl(var(--secondary-color));
    height: 2px;
    width: 25px;
}

.title__text {
    margin: 0;
    max-width: 50ch;
    padding-block-start: 1.25rem;
}

@media (min-width: 768px) {
    .title__heading:not(.title__heading--column)+.title__text {
        padding-block-start: 0;
        padding-inline-start: 1.25rem;
    }
}

/* MESH GRADIENT ELEMENT */
.mesh-wrapper {
    position: absolute;
    top: 130px;
    left: -10px;
    z-index: 0;
}

.mesh-wrapper.right {
    left: unset;
    right: -10px;
}

.mesh-element {
    height: 20rem;
    width: 24rem;
    filter: blur(64px);
    mix-blend-mode: multiply;
    border-radius: 50%;
    opacity: .2;
}

.mesh-element:nth-child(1) {
    background-color: hsl(var(--secondary-color) / .9);
    z-index: 2;
}

.mesh-element:nth-child(2) {
    background-color: #190f49;
    margin-top: -110px;
    margin-left: 100px;
    opacity: .5;
    z-index: 0;
}


/* CARDS */
.card-wrapper:not(:last-child) {
    margin-block-end: 1.875rem;
}

@media (min-width: 992px) {
    .card-wrapper:nth-child(2) {
        margin-block-start: 1.875rem;
    }

    .card-wrapper:nth-child(3) {
        margin-block-start: 3.75rem;
    }
}

.card-wrapper .custom-card,
.card-wrapper .custom-card-overlay {
    background-color: hsl(var(--primary-color-shade));
    border-color: hsl(var(--primary-color-tint));
    border-radius: var(--br);
    box-shadow: 15px 25px 40px 0 hsl(var(--primary-color-shade) / .8);
    padding: 2.5rem 1.875rem;
}

.card-wrapper .custom-card {
    background-color: hsl(var(--primary-color-shade) / .4);
    backdrop-filter: blur(40px);
}

.custom-card .card-icon {
    background-color: hsl(var(--secondary-color));
    border-radius: 2.1875rem;
    box-shadow: 0 5px 15px 0 hsl(var(--secondary-color) / .5);
    margin-bottom: 1.25rem;
    padding-block: .3125rem;
    text-align: center;
}

.custom-card .card-icon i {
    font-size: 1.5625rem;
}

.custom-card .card-text {
    letter-spacing: .0313rem;
    line-height: 1.7;
}

/* CARD OVERLAY */
.featured .card-wrapper {
    margin-block-start: 0;
}

.card-wrapper .custom-card-overlay {
    border-top-width: 0;
    border-left-width: 0;
    border-bottom-width: 2px;
    border-right-width: 0;
    border-bottom-color: hsl(var(--secondary-color));
    padding: 0;
    position: relative;
}

.card-wrapper .custom-card-overlay::after {
    content: '';
    background: linear-gradient(to top, hsl(var(--primary-color)) 10%, hsl(var(--primary-color) / .9) 40%, transparent);
    position: absolute;
    left: 0;
    bottom: 0;
    height: 80%;
    width: 100%;
}

.card-wrapper .custom-card-overlay img {
    border-radius: inherit;
}

.card-wrapper .custom-card-overlay .card-img-overlay {
    top: unset;
    padding-block-end: 30px;
    z-index: 1;
}

.card-wrapper .custom-card-overlay .card-date {
    background-color: hsl(var(--secondary-color));
    border-radius: var(--br);
    color: hsl(var(--primary-color));
    padding: .3125em .9375em;
}

/* CONTACT */
.contact {
    background-color: hsl(var(--primary-color-shade));
}

@media (min-width: 992px) {
    .contact .inner-section {
        margin-inline: auto;
        width: 50%;
    }
}

/* FORM */
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"],
.contact-form textarea {
    background-color: hsl(var(--primary-color-shade));
    border-color: hsl(var(--primary-color-tint));
    border-radius: var(--br);
    color: var(--text-color);
    padding-block: .625rem;
}

.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form input[type="tel"]:focus,
.contact-form textarea:focus {
    background-color: hsl(var(--primary-color-shade));
    border-color: hsl(var(--secondary-color));
    box-shadow: none;
    color: var(--text-color);
}

.contact-form textarea {
    height: 9.375rem;
    resize: none;
}

.contact-form .btn {
    background-color: hsl(var(--secondary-color));
    border-radius: var(--br);
    box-shadow: 0 5px 15px 0 hsl(var(--secondary-color) / .5);
    color: var(--text-color);
    padding-inline: 3.125rem;
    transition: all .3s ease-in-out;
}

.contact-form .btn:hover,
.contact-form .btn:focus {
    box-shadow: 0 10px 25px 0 hsl(var(--secondary-color) / .3);
    color: var(--text-color);
}