/* -------------------------------------------------------------------------- */
/*                              CUSTOM PROPERTIES                             */
/* -------------------------------------------------------------------------- */
:root {

    /* Colors */
    --primary-color: 208 90% 8%;
    --primary-color-shade: 208 89% 7%;
    --primary-color-tint: 208 39% 17%;
    --secondary-color: 171 74% 60%;
    --text-color: 0 0% 100%;

    /* Font Familiy */
    --primary-font: 'Hind', sans-serif;
    --secondary-font: 'Rozha One', serif;

    /* Font Weights */
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 400;

    /* Border */
    --br: 1.25rem;

}

/* -------------------------------------------------------------------------- */
/*                                   GLOBAL                                   */
/* -------------------------------------------------------------------------- */

body.viajeschile {
    background-color: hsl(var(--primary-color));
    color: hsl(var(--text-color));
    font-family: var(--primary-font);
    font-weight: var(--fw-light);
}

h1,
h2,
h3,
h4 {
    font-family: var(--secondary-font);
}

img,
picture {
    max-width: 100%;
    display: block;
}

main {
    position: relative;
}

section {
    padding-block: 6.25rem;
}

/* Header */
.header {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

/* Inner Section */
.inner-section {
    padding-block-start: 4.375rem;
}

/* Section Title */
.title__heading {
    display: grid;
    grid-template-rows: repeat(2, auto);
    row-gap: 1.25rem;
    font-size: 3.125rem;
    margin: 0;
    padding: 0;
    position: relative;
}

.title__heading--column {
    place-items: center;
}

@media (min-width: 768px) {
    .title__heading:not(.title__heading--column) {
        gap: 0 1.25rem;
        grid-template-columns: repeat(2, auto);
        place-items: center;
    }
}

.title__heading::after {
    content: '';
    background-color: hsl(var(--secondary-color));
    height: 2px;
    width: 25px;
}

.title__text {
    margin: 0;
    max-width: 50ch;
    padding-block-start: 1.25rem;
}

@media (min-width: 768px) {
    .title__heading:not(.title__heading--column) .title__text {
        padding-block-start: 0;
        padding-inline-start: 1.25rem;
    }
}

/* Mesh Gradient Element */
.mesh-wrapper {
    position: absolute;
    top: 130px;
    left: -90px;
    z-index: 0;
}

.mesh-element {
    height: 20rem;
    width: 24rem;
    filter: blur(64px);
    mix-blend-mode: multiply;
    border-radius: 50%;
    opacity: .2;
}

.mesh-element:nth-child(1) {
    background-color: hsl(var(--secondary-color) / .9 );
    z-index: 2;
}

.mesh-element:nth-child(2) {
    background-color: #190f49;
    margin-top: -110px;
    margin-left: 100px;
    opacity: .5;
    z-index: 0;
}

/* -------------------------------------------------------------------------- */
/*                                 COMPONENTS                                 */
/* -------------------------------------------------------------------------- */

/* NAVBAR */
@media (min-width: 768px) {
    .header .viajeschile-navbar {
        padding-block: 1.875rem;
    }
}

.header .navbar-brand {
    gap: .625rem;
}

.header .navbar-nav {
    gap: 1.25rem;
}

.header .navbar-nav a {
    color: hsl(var(--text-color));
    transition: all .3s ease-in-out;
}

.header .navbar-nav a:hover,
.header .navbar-nav a:focus {
    color: hsl(var(--secondary-color))
}

/* HERO */
.hero-section {
    position: relative;
}

.hero-section::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(to top, hsl(var(--primary-color)) 10%, hsl(var(--primary-color) / .9) 40%, transparent);
    z-index: 2;
}

/* CARDS */
.card-wrapper:not(:last-child) {
    margin-block-end: 1.875rem;
}

@media (min-width: 768px) {
    .card-wrapper:nth-child(2) {
        margin-block-start: 1.875rem;
    }

    .card-wrapper:nth-child(3) {
        margin-block-start: 3.75rem;
    }
}

.card-wrapper .custom-card,
.card-wrapper .custom-card-overlay {
    background-color: hsl(var(--primary-color-shade));
    border-color: hsl(var(--primary-color-tint));
    border-radius: var(--br);
    box-shadow: 15px 25px 40px 0 hsl(var(--primary-color-shade) / .8);
    padding: 2.5rem 1.875rem;
}

.custom-card .card-icon {
    background-color: hsl(var(--secondary-color));
    border-radius: 2.1875rem;
    box-shadow: 0 5px 15px 0 hsl(var(--secondary-color) / .5);
    margin-bottom: 1.25rem;
    padding-block: .3125rem;
    text-align: center;
}

.custom-card .card-icon i {
    font-size: 1.5625rem;
}

.custom-card .card-text {
    letter-spacing: .0313rem;
    line-height: 1.7;
}

/* CARD OVERLAY */
.featured .card-wrapper {
    margin-block-start: 0;
}

.card-wrapper .custom-card-overlay {
    border-top-width: 0;
    border-left-width: 0;
    border-bottom-width: 2px;
    border-right-width: 0;
    border-bottom-color: hsl(var(--secondary-color));
    padding: 0;
    position: relative;
}

.card-wrapper .custom-card-overlay::after {
    content: '';
    background: linear-gradient(to top, hsl(var(--primary-color)) 10%, hsl(var(--primary-color) / .9) 40%, transparent);
    position: absolute;
    left: 0;
    bottom: 0;
    height: 80%;
    width: 100%;
}

.card-wrapper .custom-card-overlay img {
    border-radius: inherit;
}

.card-wrapper .custom-card-overlay .card-img-overlay {
    top: unset;
    padding-block-end: 30px;
    z-index: 1;
}

.card-wrapper .custom-card-overlay .card-date {
    background-color: hsl(var(--secondary-color));
    border-radius: var(--br);
    color: hsl(var(--primary-color));
    padding: .3125em .9375em;
}

/* CONTACT */
.contact {
    background-color: hsl(var(--primary-color-shade));
}